<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>!Sprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,43}</string>
                <key>spriteSourceSize</key>
                <string>{43,43}</string>
                <key>textureRect</key>
                <string>{{930,1123},{43,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RankUp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{451,85}</string>
                <key>spriteSourceSize</key>
                <string>{451,85}</string>
                <key>textureRect</key>
                <string>{{770,1},{451,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,123}</string>
                <key>spriteSourceSize</key>
                <string>{124,123}</string>
                <key>textureRect</key>
                <string>{{751,921},{124,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,64}</string>
                <key>spriteSourceSize</key>
                <string>{89,64}</string>
                <key>textureRect</key>
                <string>{{450,1273},{89,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{839,1387},{100,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bigStar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{522,501}</string>
                <key>spriteSourceSize</key>
                <string>{522,501}</string>
                <key>textureRect</key>
                <string>{{1,770},{522,501}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,55}</string>
                <key>spriteSourceSize</key>
                <string>{55,55}</string>
                <key>textureRect</key>
                <string>{{873,1081},{55,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blueBtnBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{939,1019},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changeBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,90}</string>
                <key>spriteSourceSize</key>
                <string>{172,90}</string>
                <key>textureRect</key>
                <string>{{199,1359},{172,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>closeBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{941,1387},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crownSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{876,967},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailyBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,107}</string>
                <key>spriteSourceSize</key>
                <string>{107,107}</string>
                <key>textureRect</key>
                <string>{{743,1169},{107,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>finishSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,70}</string>
                <key>spriteSourceSize</key>
                <string>{87,70}</string>
                <key>textureRect</key>
                <string>{{373,1359},{87,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>giftBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,136}</string>
                <key>spriteSourceSize</key>
                <string>{135,136}</string>
                <key>textureRect</key>
                <string>{{857,1},{135,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>giftSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,180}</string>
                <key>spriteSourceSize</key>
                <string>{216,180}</string>
                <key>textureRect</key>
                <string>{{525,1167},{216,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heartSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,171}</string>
                <key>spriteSourceSize</key>
                <string>{196,171}</string>
                <key>textureRect</key>
                <string>{{1,1273},{196,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>homeBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,136}</string>
                <key>spriteSourceSize</key>
                <string>{135,136}</string>
                <key>textureRect</key>
                <string>{{857,139},{135,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iconMask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{751,1047},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{767,767}</string>
                <key>spriteSourceSize</key>
                <string>{767,767}</string>
                <key>textureRect</key>
                <string>{{1,1},{767,767}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinkBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{522,1349},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pkBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,56}</string>
                <key>spriteSourceSize</key>
                <string>{111,56}</string>
                <key>textureRect</key>
                <string>{{726,1387},{111,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,136}</string>
                <key>spriteSourceSize</key>
                <string>{135,136}</string>
                <key>textureRect</key>
                <string>{{857,277},{135,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popPlayBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,35}</string>
                <key>spriteSourceSize</key>
                <string>{99,35}</string>
                <key>textureRect</key>
                <string>{{791,767},{99,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>purpleBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{624,1349},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rankBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,107}</string>
                <key>spriteSourceSize</key>
                <string>{107,107}</string>
                <key>textureRect</key>
                <string>{{743,1278},{107,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rankBtn1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,84}</string>
                <key>spriteSourceSize</key>
                <string>{249,84}</string>
                <key>textureRect</key>
                <string>{{770,454},{249,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rankBtnBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,84}</string>
                <key>spriteSourceSize</key>
                <string>{249,84}</string>
                <key>textureRect</key>
                <string>{{199,1273},{249,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rankUpText.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{451,85}</string>
                <key>spriteSourceSize</key>
                <string>{451,85}</string>
                <key>textureRect</key>
                <string>{{770,1},{451,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>redBtnBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{939,1071},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>replayBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,136}</string>
                <key>spriteSourceSize</key>
                <string>{135,136}</string>
                <key>textureRect</key>
                <string>{{857,415},{135,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreText.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,38}</string>
                <key>spriteSourceSize</key>
                <string>{149,38}</string>
                <key>textureRect</key>
                <string>{{751,770},{149,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shareBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{917,827},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shareBtn1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,107}</string>
                <key>spriteSourceSize</key>
                <string>{107,107}</string>
                <key>textureRect</key>
                <string>{{852,1169},{107,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shareSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,61}</string>
                <key>spriteSourceSize</key>
                <string>{52,61}</string>
                <key>textureRect</key>
                <string>{{876,1027},{52,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>smallStar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{770,705},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soundBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,107}</string>
                <key>spriteSourceSize</key>
                <string>{107,107}</string>
                <key>textureRect</key>
                <string>{{852,1278},{107,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soundBtn1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,136}</string>
                <key>spriteSourceSize</key>
                <string>{135,136}</string>
                <key>textureRect</key>
                <string>{{856,553},{135,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>soundBtn2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,136}</string>
                <key>spriteSourceSize</key>
                <string>{135,136}</string>
                <key>textureRect</key>
                <string>{{856,690},{135,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>soundOff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{445,1364},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,61}</string>
                <key>spriteSourceSize</key>
                <string>{42,61}</string>
                <key>textureRect</key>
                <string>{{946,897},{42,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stopBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{876,897},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>titel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{395,224}</string>
                <key>spriteSourceSize</key>
                <string>{395,224}</string>
                <key>textureRect</key>
                <string>{{525,770},{395,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>videoSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,50}</string>
                <key>spriteSourceSize</key>
                <string>{56,50}</string>
                <key>textureRect</key>
                <string>{{936,967},{56,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vsText.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,53}</string>
                <key>spriteSourceSize</key>
                <string>{87,53}</string>
                <key>textureRect</key>
                <string>{{828,827},{87,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>view.png</string>
            <key>size</key>
            <string>{993,1450}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17276bfbcda8baf513720a1f4b5ee639:8e411ff4200ab13a08a3b78728bf571b:96a79c1f56aed6ca76f40cddb46cd636$</string>
            <key>textureFileName</key>
            <string>view.png</string>
        </dict>
    </dict>
</plist>
